@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}

h1,
h2,
p,
a,
button {
  font-family: Roboto, sans-serif;
}

img {
  display: inline-block;
  object-fit: contain;
}

.header {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  background-color: #1f2937;

  .logo {
    font-size: 24px;
    color: #f9faf8;
  }

  .menu__list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    list-style-type: none;
  }

  .menu__link {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
  }
}

.hero {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
  padding: 80px 20px;
  background-color: #1f2937;

  .description-container {
    max-width: 33%;
  }

  .hero__title {
    margin: 0;
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
  }

  .hero__text {
    font-size: 18px;
    color: #e5e7eb;
  }

  .hero__button {
    display: inline-block;
    padding: 6px 24px;
    border: none;
    border-radius: 8px;
    background-color: #3882f6;
    font-size: 18px;
    font-weight: bold;
    color: #f9faf8;
  }
}