@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
}

h1,
h2,
p,
button {
  font-family: Roboto, sans-serif;
}